<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body ng-app="directoryApp">
  <div class="container">
    <div class="row">
      <h1>UF Directory App</h1>
    </div>
    <div class="row" ng-controller="ListingsController">
      <div class="col-md-6">
        <div class="input-group" id="searchBar">
          <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
          <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
        </div>
        <div class="tableWrapper">
          <table class="table table-striped table-hover">
            <tr>
              <th>Code</th>
              <th>Building Name</th>
              <th></th>
            </tr>
            <tr ng-repeat="listing in listings | filter:searchText" ng-click="showDetails($index)">
              <td>{{ listing.code }}</td>
              <td>{{ listing.name }}</td>
              <td>
                <span class="glyphicon glyphicon-remove icon-button" ng-click="deleteListing(listing)"></span>
              </td>
            </tr>
          </table>
        </div>
        <form class=spacer ng-submit="addListing(form.code, form.name, form.latitude, form.longitude, form.address)">
          <div class="form-row">
            <div class="col-md-4">
              <label for="input-code">Code</label>
              <input id="input-code" type="text" class="form-control" placeholder="ABC" ng-model="form.code" required>
            </div>
            <div class="col-md-8">
              <label for="input-name">Name</label>
              <input id="input-name" type="text" class="form-control" placeholder="Ben Hill Griffin Stadium" ng-model="form.name"
                required>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6">
              <label for="input-latitude">Latitude</label>
              <input id="input-latitude" type="text" class="form-control" placeholder="12.34" ng-model="form.latitude">
            </div>
            <div class="col-md-6">
              <label for="input-longitude">Longitude</label>
              <input id="input-longitude" type="text" class="form-control" placeholder="56.78" ng-model="form.longitude">
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-12">
              <label for="input-address">Address</label>
              <input id="input-address" type="text" class="form-control" placeholder="1234 NW New York, NY" ng-model="form.address">
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-4 spacer-small">
              <input type="submit" class="btn btn-primary mb-2" value="Add new listing">
            </div>
            <div class="col-md-4 spacer-small">
              <input type="button" class="btn mb-2" value="Clear" ng-click="form = undefined">
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <div class="jumbotron">
          <h2>Detailed Information</h2>
          <!-- 

              Include a way to display detailed information about an individual listing:
                   * consider how to use ng-click within the the table to implement this feature

             -->
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
    crossorigin="anonymous"></script>
  <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
  <script src="app.js"></script>
  <script src="listingController.js"></script>
  <script src="listingFactory.js"></script>
</body>

</html>