#searchBar {
  margin: 15px 10px;
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
}

.spacer {
  margin-top: 3rem;
}

.spacer-small {
  margin-top: 1rem;
}

.clickable:hover {
  cursor: pointer;
}